<div class="container">
    <h1>Web Calculator</h1>
    <calc-display></calc-display>
    <div class="row">
        <calc-button text="CE"></calc-button>
        <calc-button text="C"></calc-button>
        <calc-button text="Del"></calc-button>
        <calc-button text="/"></calc-button>
    </div>
    <div class="row">
        <calc-button text="7"></calc-button>
        <calc-button text="8"></calc-button>
        <calc-button text="9"></calc-button>
        <calc-button text="*"></calc-button>
    </div>
    <div class="row">
        <calc-button text="4"></calc-button>
        <calc-button text="5"></calc-button>
        <calc-button text="6"></calc-button>
        <calc-button text="-"></calc-button>
    </div>
    <div class="row">
        <calc-button text="1"></calc-button>
        <calc-button text="2"></calc-button>
        <calc-button text="3"></calc-button>
        <calc-button text="+"></calc-button>
    </div>
    <div class="row">
        <calc-button text="+/-"></calc-button>
        <calc-button text="0"></calc-button>
        <calc-button text="."></calc-button>
        <calc-button text="="></calc-button>
    </div>
</div>